
<nav class="navbar navbar-nav navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">CRIPTOMONEDAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">   
  <div class="card-group mt-3">

    <div class="card text-center border-info">
      <div class="card-body">
        <h2 class="card-title">{{criptos.name}}</h2>
        <h4>{{criptos.symbol}}</h4>
        <p class="card-text">Precio (USD): {{criptos.market_data.price_usd}} </p>
        <p>Precio Total: {{criptos.all_time_high.price}}</p>
        <p>Vol. (24h): {{criptos.blockchain_stats_24_hours.count_of_payments}}$</p>
        <a href="#" class="btn btn-primary">Entrar</a>
      </div>
    </div> 